.cm-header-1 { color: #8B9467; } /* Dark Sea Green */
.cm-header-2 { color: #f89410; } /* Cornflower Blue */
.cm-header-3 { color: #73bbf5; } /* Crimson */
.cm-header-4 { color: #FFA07A; } /* Medium Sea Green */
.cm-header-5 { color: #FFC080; } /* Light Coral */
.cm-header-6 { color: #FFD700; } /* Medium Slate Blue */